<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="save()">
        <h1>Create job posting</h1>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Deadline</label>
          <input type="datetime-local" class="form-control" id="exampleFormControlInput1" formControlName="deadline">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Create!</button>
        </div>
      </form>
    </div>
  </div>
</div>
